@model goodtrip.Models.NewTourModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
    ViewData["Title"] = "Create Tour";
}
<head>
     <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CreateTour.css" asp-append-version="true" />
</head>

<form method="post" enctype="multipart/form-data">
    <div class="validation">@ViewBag.SuperError</div>
    <div class = "border p-3 mt-4">
        <div class ="row pb-2 title">
            <h2 class = "text-primary">Create Tour</h2>
            <hr />
        </div>
        <div class = "mb-3">
            <label asp-for="TourName">Tour Name</label>
            <input asp-for="TourName" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="TourDescription"></label>
            <input asp-for="TourDescription" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="TourCountry"></label>
            <input asp-for="TourCountry" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="TourCity"></label>
            <input asp-for="TourCity" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="TourDuration"></label>
            <input asp-for="TourDuration" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="StartDate">Date when tour is avaliable</label>
            <input type ="date" asp-for="StartDate" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="EndDate">Date when Tour is not avaliable anymore</label>
            <input type ="date" asp-for="EndDate" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="TourMaxTourists">Maximum Amount of Tourists</label>
            <input asp-for="TourMaxTourists" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="TourPrice"></label>
            <input asp-for="TourPrice" class = "form-control"/>
        </div>
    </div>
        <div class = "border p-3 mt-4">
        <div class ="row pb-2 title">
            <h2 class = "text-primary">Add Hotel Info</h2>
            <hr />
        </div>
            <div class = "mb-3">
            <label asp-for="HotelName">Hotel Name</label>
            <input asp-for="HotelName" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="HotelDescription">Hotel Description</label>
            <input asp-for="HotelDescription" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="HotelCountry">Hotel Country</label>
            <input asp-for="HotelCountry" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="HotelCity">Hotel City</label>
            <input asp-for="HotelCity" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="HotelAddress">Hotel Adress</label>
            <input asp-for="HotelAddress" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="HotelFeeding">Is feeding included</label>
            <br />
            <input type = "radio" asp-for="HotelFeeding" value = "yes"> yes
            <input type = "radio" asp-for="HotelFeeding" value = "no"> no
        </div>
        <div class = "mb-3">
            <label asp-for="HotelIsWifi">Is there a Wi-Fi in the hotel</label>
            <br />
            <input type = "radio" asp-for="HotelIsWifi" value="yes"> yes
            <input type = "radio" asp-for="HotelIsWifi" value="no"> no
        </div>
        <div class = "mb-3">
            <label asp-for="HotelMark">How many stars does the hotel have</label>
            <input asp-for="HotelMark" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="HotelRooms">How many rooms are there in the hotel</label>
            <input asp-for="HotelRooms" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="HotelFreeRooms">How many rooms are free</label>
            <input asp-for="HotelFreeRooms" class = "form-control"/>
        </div>
          <div class="form-group">
            <label>Upload image</label>
            <input type="file" name="uploadedFile" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Upload image</label>
            <input type="file" name="uploadedFile" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Upload image</label>
            <input type="file" name="uploadedFile" class="form-control"/>
        </div>
        </div>
        <div class = "border p-3 mt-4">
        <div class ="row pb-2 title">
            <h2 class = "text-primary">Add Excursion Info</h2>
            <hr />
        </div>
        <div class = "mb-3">
            <label asp-for="ExcursionName"></label>
            <input asp-for="ExcursionName" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="ExcursionDescription"></label>
            <input asp-for="ExcursionDescription" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="ExcursionDuration"></label>
            <input asp-for="ExcursionDuration" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="ExcursionLanguage"></label>
            <input asp-for="ExcursionLanguage" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="ExcursionMaxAmountOfVisitors"></label>
            <input asp-for="ExcursionMaxAmountOfVisitors" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="ExcursionPlace"></label>
            <input asp-for="ExcursionPlace" class = "form-control"/>
        </div>
        <div class="form-group">
            <label>Upload image</label>
            <input type="file" name="uploadedFile" class="form-control"/>
        </div>
        </div>
        <div class = "buttoncreate">
            <button type = "submit" class ="btn-primary" style="width:150px">Create</button>
        </div>
</form>