@model goodtrip.Storage.Entity.Tour
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create Tour";
}
<head>
     <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CreateTour.css" asp-append-version="true" />
</head>

<form mehod="post" enctype="multipart/form-data">
    <div class = "border p-3 mt-4">
        <div class ="row pb-2">
            <h2 class = "text-primary">Create Tour</h2>
            <hr />
        </div>
        <input type="hidden" asp-for="Id"/>
        <div class = "mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="Country"></label>
            <input asp-for="Country" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="City"></label>
            <input asp-for="City" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="Duration"></label>
            <input asp-for="Duration" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="StartDate">Date when tour is avaliable</label>
            <input type ="date" asp-for="StartDate" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="EndDate">Date when Tour is not avaliable anymore</label>
            <input type ="date" asp-for="EndDate" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="MaxTourists">Maximum Amount of Tourists</label>
            <input asp-for="MaxTourists" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" class = "form-control"/>
        </div>
    </div>
        <div class = "border p-3 mt-4">
        <div class ="row pb-2">
            <h2 class = "text-primary">Add Hotel Info</h2>
            <hr />
        </div>
            <div class = "mb-3">
            <label asp-for="Hotel.Name">Hotel Name</label>
            <input asp-for="Hotel.Name" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="Hotel.Description">Hotel Description</label>
            <input asp-for="Hotel.Description" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="Hotel.Country">Hotel Country</label>
            <input asp-for="Hotel.Country" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="Hotel.City">Hotel City</label>
            <input asp-for="Hotel.City" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="Hotel.Address">Hotel Adress</label>
            <input asp-for="Hotel.Address" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="Hotel.Feeding">Is feeding included</label>
            <input type = "checbox" asp-for="Hotel.Feeding">
        </div>
        <div class = "mb-3">
            <label asp-for="Hotel.IsWifi">Is there a Wi-Fi in the hotel</label>
            <input type = "checbox" asp-for="Hotel.IsWifi">
        </div>
        <div class = "mb-3">
            <label asp-for="Hotel.Mark">How many stars does the hotel have</label>
            <input asp-for="Hotel.Mark" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="Hotel.Rooms">How many rooms are there in the hotel</label>
            <input asp-for="Hotel.Rooms" class = "form-control"/>
        </div>
        <div class = "mb-3">
            <label asp-for="Hotel.FreeRooms">How many rooms are free</label>
            <input asp-for="Hotel.FreeRooms" class = "form-control"/>
        </div>
          <div class="form-group">
            <label>Upload image</label>
            <input type="file" name="uploadedFile" class="form-control" asp-for="Hotel.Images"/>
        </div>
        <div class="form-group">
            <label>Upload image</label>
            <input type="file" name="uploadedFile" class="form-control" asp-for="Hotel.Images"/>
        </div>
        <div class="form-group">
            <label>Upload image</label>
            <input type="file" name="uploadedFile" class="form-control" asp-for="Hotel.Images"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Add images" class="btn btn-outline-secondary" />
        </div>
        </div>
        <button type = "submit" class ="btn-primary" style="width:150px">Create</button>
</form>