@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<header>
    <div class = "container-fluid">
        <p class = "text-center CustomerProfile">Operator Profile</p>
    </div>
    <hr class="LineInHeader"align = "center">
</header>
<body>
    <div class="container-fluid">
        <div class = "row">
            <div class="sidebar col-3 containter-fluid">
                <div class="sidebarSquare">
                    <div class="Settings">
                        <a asp-action="OperatorChangeSettings" style = "text-decoration: none; text-decoration-color: none; color: black; font-size: 16px;">Settings</a>
                    </div>
                    <div class="Documents">
                        <a asp-action="OperatorChangeDocuments" style = "text-decoration: none; text-decoration-color: none; color: black; font-size: 16px;">Documents</a>
                    </div>
                    <div class="BussinessInfo" style = "background-color: rgba(154,110,246,7%); color: #8643D6;">
                        <a>Bussiness info</a>
                    </div>
                    <div class="Something">
<<<<<<< HEAD
                        <a asp-action="CreateTour" style = "text-decoration: none; text-decoration-color: none; color: black; font-size: 16px;">Create tour</a>
=======
                        <a asp-action="PrintTours">My tours</a>
>>>>>>> fe403ee8bc738cbd7ce18ed8583ea5f42fff114f
                    </div>
                </div>
            </div>
            <div class = "col-6"></div>
            <div class = "logoutbar col-3">
                <div class = "LogoutButton">
                    <a asp-controller="Account" asp-action="Logout" class="logoutlink"  style = "text-decoration: none; text-decoration-color: none; color: black; font-size: 16px;">LOG OUT</a> 
                </div>
            </div>
        </div>
    </div>
   
</body>

