@model User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<form method = "post" asp-action = "Create">
    <div asp-validation-summary="All" class = "text-danger"></div>
    <div class = "data">
        <label asp-for = "UserName"></label>
        <input asp-for = "UserName">
    </div>

    <div class = "data">
        <label asp-for = "LoginName"></label>
        <input asp-for = "LoginName">
    </div>

    <div class = "data">
        <label asp-for = "Password"></label>
        <input asp-for = "Password">
    </div>
    
    <button type = "submit">SIGN UP</button>
</form>