@model RequestModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    ViewData["Title"] = "Create Tour";
}
<html>
<head>
     <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/createrequest.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class = "customername">
            <form method = "post" asp-controller="Tour" asp-action="CreateRequest">
                <label asp-for="CustomerName">Your Name</label>
                 <input asp-for="CustomerName"/>

            <label asp-for="CustomerLastName">Your Last Name</label>
            <input asp-for="CustomerLastName"/>

            <label asp-for="PhoneNumber">Your phone number</label>
            <input asp-for="PhoneNumber"/>

            <input asp-for="TourId" type="hidden" />
            <button type="submit">Send request</button>
            </form>
            
        </div>
    </div>
</body>
</html>