@model RequestModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create Tour";
}
<html>
<head>
     <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/createrequest.css" asp-append-version="true" />
</head>
<body>
    <div class="crcont" >
            <form method = "post">
                <div class="createrequesttitle">
                    <p>Request for tour</p>
                </div>
                <div class = "customername">
                <label asp-for="CustomerName">Your Name</label>
                 <input asp-for="CustomerName" class="form-control"/>
                </div>
            <div class = "customerlastname">
            <label asp-for="CustomerLastName">Your Last Name</label>
            <input asp-for="CustomerLastName" class="form-control">
            </div>
            <div class = "customerphone">
            <label asp-for="PhoneNumber">Your phone number</label>
            <input asp-for="PhoneNumber" class="form-control"/>
            </div>
            <input asp-for="TourId" type="hidden" />
            <div class = "amountofcustomers">
                <label asp-for="AmountOfTourists">Amount of tourists</label>
                <input asp-for="AmountOfTourists" class="form-control" />
            </div>
            <div class = "desiredduration">
                <label asp-for="Duration">Desired duration</label>
                <input asp-for="Duration" class="form-control" />
                </div>
            <div class = "customerwishes">
                <label asp-for="CustomerWishes">Desired duration</label>
                <textarea asp-for="CustomerWishes" class="form-control"></textarea>
                </div>
            <div  class = "senbtn">
            <button type="submit">Send request</button></div>
            </form> 
    </div>
</body>
</html>