@model goodtrip.Models.RegisterUser
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<header>
    <div class = "container-fluid">
        <p class = "text-center LoginText">Register</p>
    </div>
    <hr class="LineInHeader"align = "center">
</header>
<body>
    <div class = "container-fluid">
    <form method = "post" asp-action = "Register">
        <div class = "inputs">
            <div asp-validation-summary="All" class = "text-center text-danger"></div>
            <div class = "ContInputs">
                <input asp-for = "Login" type="text" placeholder = "Login" class = "form-control">
                <input asp-for = "Password" type = "password" placeholder = "Password" class = "form-control">
                <input asp-for = "PasswordConfirm" type = "password" placeholder = "Password" class = "form-control">
            </div>
            <div class = "AccountType">
                <p>Account type:</p>
                <input asp-for = "AccountType" type="radio" value = "Customer" id = "Customer"/>
                <label asp-for = "AccountType">Customer (traveller)</label>
                <br />
                <input asp-for = "AccountType" type="radio" value = "Operator" id = "Operator"/>
                <label asp-for = "AccountType">Tour operator</label>
            </div>

            <div class = "center">
                <button type = "submit">Sign Up</button>
            </div>
        </div>
    </form>
    </div>
</body>
