<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - goodTrip</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/goodTrip.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class = "container">
            <div class = "row">
                <div class = "col-1 p-0 m-0 logoimg">
                    <img src = "images/logo.png" class = ""/> 
                </div>
                <div class = "col-2 m-0 p-0 goodtriptext">
                    <p>goodtrip</p>
                </div>
                <div class = "col-7"></div>
                <div class = "col-2 profile" >
                        <div class = "row">
                            <div class = "col-6 p-0 m-0 logoicon">
                                <img src = "images/profile-icon.png"  />
                            </div>
                            <div class = "col-6 p-0 m-0">
                                <p>Profile</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
