@model SearchModel

@{
    var username = Context.User.Identity.Name;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - goodtrip</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/goodtrip.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href = "_Layout.cshtml.css"/>
               <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
             <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class = "col-2">
                    <div class="logo">
                        <img src = "/images/goodtripLogo.svg" style="max-width: 50%"/>
                    </div>
                </div>
                <div class="col-8">
                    <div class="search">
                        <form method = "post" asp-controller="Search" asp-action="Index">
                            <input asp-for="PlaceFrom" placeholder = "FROM" />
                            <input asp-for="PlaceTo" placeholder = "TO" />
                            <input asp-for="When" type="date" placeholder = "WHEN" />
                            <input asp-for="Nights" placeholder = "NIGHTS" />
                            <input asp-for="Tourists" placeholder = "TOURISTS" />
                            <div class="btnsearch">
                                <button type="submit">SEARCH</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-2">
                    <div class="profile">
                        @if(Context.User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Profile" asp-action="Index" class = "profilebutton">PROFILE</a>
                        }
                        else{
                            <a asp-controller="Account" asp-action="Login" class = "profilebutton">LOGIN</a>
                        }
                    </div>
                </div> 
            </div>
        </div>
    </header>
        <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        </div>
    
    <footer class="border-top footer text-muted">
        
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
 </body>
</html>
