/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: white;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
header .container-fluid {
    background-color: rgba(154,110,246,50%);
}
.logo {
    width: 70%;
    margin: 3%;
}
.search {
    text-align: center;
    padding-top: 2%;
}
.search form {
     margin-top: 50%;
}
.profile {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 15%;
    margin-left: 25.5%;
    padding: 0 3%;
    background-color: rgba(154, 110, 246, 0.35);
    border: 1px solid #8643D6;
    border-radius: 5px;
    font-size: 24px;
    padding-top: 1%;
    padding-bottom: 1%;
}
.profile a {
    color: black;
}
.profilebutton {
}
.btnsearch button {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0.5% 1.5%;
    background-color: rgba(154, 110, 246, 0.35);
    border: 1px solid #8643D6;
    border-radius: 5px;
    font-size: 24px;
}
