@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>


@{
    ViewData["Title"] = "Home Page";
}

<body style = "background-color: #E2D3FF">
    <div class = "best_offers_cont">
        <div class= "text_bo">
            <p>BEST OFFERS</p>
        </div>
        <div class= "left_image">
            <a asp-controller="Tour" asp-action = "Index" asp-route-id="56EA99AD-44EB-4687-9A73-0CE80327DCB2">
                      <img src = "~/images/NewYorkHotel1.jpg">
            </a>
        </div>
        <div class= "mid_image">
            <a asp-controller="Tour" asp-action = "Index" asp-route-id="56EA99AD-44EB-4687-9A73-0CE80327DCB2">
                <img src = "~/images/NewYorkHotel2.jpg">
            </a>
        </div>
        <div class= "right_image">
            <a asp-controller="Tour" asp-action = "Index" asp-route-id="56EA99AD-44EB-4687-9A73-0CE80327DCB2">
                <img src = "~/images/NewYorkHotel3.jpg">
            </a>
        </div>
    </div>
</body>