@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>


@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class = "best_offers_cont">
        <div class= "text_bo">
            <p>BEST OFFERS</p>
        </div>
        <div class="row">
            <div class="col-4">
                <div class= "leftimage">
            <a asp-controller="Tour" asp-action = "Index" asp-route-id="416901ba-fecd-4486-9ee5-01a87995e719">
                      <img src = "~/Images/MidLeft.jpg">
            </a>
        </div>
            </div>
            <div class ="col-4">
                <div class= "midimage">
            <a asp-controller="Tour" asp-action = "Index" asp-route-id="98952ade-d461-45e3-ad79-bfe2460ada37">
                <img src = "~/Images/MidMid.jpg">
            </a>
        </div>
            </div>
            <div class = "col-4">
                <div class= "rightimage">
            <a asp-controller="Tour" asp-action = "Index" asp-route-id="694b87d5-f93d-4354-b27b-93e4e0fd8e67">
                <img src = "~/Images/MidRight.jpg">
            </a>
        </div>
            </div>
        </div>
    </div>
<div class = "PopularDirections">
        <div class="pdtext">
            <p>Popular directions</p>
        </div>
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-2">
                <div class="dircont">
                        <a asp-controller="Search" asp-action="Index" asp-route-city = "Paris" class = "text" style = "text-decoration: none; text-decoration-color: none; color: black;">
                        <div class="row">
                        <div class="col-2">
                            <div class="dirimage">
                            <img src ="~/Images/France.svg" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="dirtext">
                                <p>Paris</p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
              <div class="col-2">
                <div class="dircont">
                        <a asp-controller="Search" asp-action="Index" asp-route-city="Sochi" class="text" style = "text-decoration: none; text-decoration-color: none; color: black;">
                        <div class="row">
                        <div class="col-2">
                            <div class="dirimage">
                            <img src ="~/Images/Russia.svg" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="dirtext">
                                <p>Sochi</p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
                        <div class="col-2">
                <div class="dircont">
                    <a asp-controller = "Search" asp-action="Index" asp-route-city="Madrid" class = "text" style = "text-decoration: none; text-decoration-color: none; color: black;">
                        <div class="row">
                        <div class="col-2">
                            <div class="dirimage">
                            <img src ="~/Images/Spain.svg" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="dirtext">
                                <p>Madrid</p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
                        <div class="col-2">
                <div class="dircont">
                    <a asp-controller = "Search" asp-action="Index" asp-route-city="New-York" class="text" style = "text-decoration: none; text-decoration-color: none; color: black;">
                        <div class="row">
                        <div class="col-2">
                            <div class="dirimage">
                            <img src ="~/Images/USA.svg" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="dirtext">
                                <p>New-York</p>
                            </div>
                        </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>