@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>


@{
    ViewData["Title"] = "Home Page";
}

<body @*style = "background-color: #E2D3FF"*@>
    <div class = "best_offers_cont">
        <div class= "text_bo">
            <p>BEST OFFERS</p>
        </div>
        <div class= "left_image">
            <a asp-controller="Tour" asp-action = "Index" asp-route-id="46CC11D7-611A-4B73-B9A2-146B60AE4C34">
                      <img src = "~/Images/MidLeft.jpg">
            </a>
        </div>
        <div class= "mid_image">
            <a asp-controller="Tour" asp-action = "Index" asp-route-id="60718162-2187-4C98-AE7F-BDE294884432">
                <img src = "~/Images/MidMid.jpg">
            </a>
        </div>
        <div class= "right_image">
            <a asp-controller="Tour" asp-action = "Index" asp-route-id="55E139D0-C194-47DA-B12E-B270E03DC59A">
                <img src = "~/Images/MidRight.jpg">
            </a>
        </div>
    </div>
</body>