.buttoncreate{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
    .buttoncreate button {
/*        padding: 1%;
        border-radius: 20px;*/
        text-decoration: none;
        text-decoration-color: none;
        margin: auto;
        width: 40%;
        height: 20%;
        color: black;
        font-size: 25px;
        border-radius: 30px;
        background-color: rgba(154, 110, 246, 0.35);
        border: 2px solid black;
        text-align: center;
    }
.title {
    text-align: center;
}
.validation {
    text-align: center;
    color: red;
}
.row {
    display: flex;
}

.column {
    flex: 50%;
}