.searchcont {
    display: flex;
    align-items: center;
    background-color: #8643D6;
    font-family: 'K2D', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
}

.searchlabel {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    line-height: normal;
}

.best_offers_cont {
    margin-top:8%;
    padding-bottom:2%;
    position:center;
    width: 100%;
    height: 80%;
    background: rgba(154, 110, 246, 0.14);
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.14);
    border-radius: 30px;
}

.left_image {
    margin-left:20px;
    width: 360px;
    height: 210px;
}
.left_image img {
        width: 100%;
        height: auto;
}

.mid_image {
    margin: -220px 0px 0px 440px;
    width: 450px;
    height: 275px;
    border: 6px solid #9A6EF6;
    border-radius: 5px;
}
.mid_image img {
    width: 100%;
    height: 100%;
}
.right_image {
    margin: -250px 20px 50px 925px;
    width: 360px;
    height: 210px;
}
    .right_image img {
        width: 100%;
        height: auto;
    }
.text_bo {
    font-family: 'K2D';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 125px;
    text-align: center;
    color: #8E7DF3;
}

.PopularDirections {
    font-family: 'K2D';
    font-style: normal;
    margin-top: 5%;
}
.pdtext{
    text-align:center;
    font-size:30px;
    margin-bottom:2%;
}
.dircont {
    text-align: center;
    border: 1px solid #8E7DF3;
    border-radius: 15px;
    width: 80%;
}
.dirimage img{
    margin-top:10%;
    margin-bottom:10%;
    margin-left:50%;
    width:50px;
    height:40px;
    border-radius:20px;
}
.dirtext {
    font-size:24px;
    margin-top:30%;

    text-align: center;
    width: 1000%;
}
a.text:active, /* активная/посещенная ссылка */
a.text:hover, /* при наведении */
a.text {
    text-decoration: none;
    color: black;
}