body {
    font-family: 'K2D', sans-serif;
}
a.text{
    text-decoration: none;
    text-decoration-color: none;
    color: black;
    font-size: 16px;
}


a.text:hover {
    text-decoration: none;
    text-decoration-color: none;
    color: black;
}
a.text:active, /* активная/посещенная ссылка */
a.text:hover, /* при наведении */
a.text {
    text-decoration: none;
    color: black;
}
.CustomerProfile {
    font-family: 'K2D', sans-serif;
    font-size: 48px;
    color: #AFA5BA;
}
.LineInHeader {
    color: #8643D6;
    width: 80%;
    margin: auto;
}
.ContInputs input{
    margin: auto;
    margin-top: 1%;
    width: 30%;
}

.Nationality select {
    margin: auto;
    width: 30%;
}

.inputs button {
    margin-top: 1%;
}

.center {
    text-align: center;
    font-size: 24px;
}

.center button {
    padding: 0 3%;
    background-color: rgba(154, 110, 246, 0.35);
    border: 1px solid #8643D6;
    border-radius: 5px;
}

.text-danger {
    padding: 0;
    margin: 0;
}
.Gender  {
    width: 30%;
    margin: auto;
}
.PassInfo {
    width:30%;
    margin: auto;
}
.PassInfo input {
    margin-top: 2%;
}
.PassInfo p {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}
#passvalperiod{
    margin-top: 3%;
}
.Nationality {
    margin-top: 1%;
}
.PassInfo {
    margin-top: 3%;
}
.sidebarSquare {
    margin: auto;
    width: 50%;
    margin-top: 5%;
    margin-right: 11%;
    border: 1px solid #8643D6;
    border-radius: 32px;
}
.sidebarSquare div {
    margin-left: 10%;
    margin-right: 3%;

}

.sidebar a {
    margin-left: 5%;
}
.Documents a {
}
.Settings {
    margin-top: 10%;
}
.Something {
}
.MyTours {
    margin-bottom: 50%;
}
/*.sidebarSquare a {
    font-size: 18px;
}*/

.LogoutButton {
    text-align: center;
    width: 35%;
    margin: auto;
    margin-top: 3%;
    margin-left: 25.5%;
    padding: 0 3%;
    background-color: rgba(154, 110, 246, 0.35);
    border: 1px solid #8643D6;
    border-radius: 5px;
}

.logoutlink {
    color: black;
    font-size: 24px;
}
.printedtour {
    margin-top: 12%;
    border-radius:20px;
    border: 2px solid black;
    padding: 3%;
    text-align: center;
}
.editbutton {
    border-radius: 20px;
    margin-top: 14%;
    padding: 3%;
    font-size: 16px;
    border: 2px solid black;
    background-color: rgba(154, 110, 246, 0.35);
    text-align: center;
}
.deletebutton {
    border-radius: 20px;
    margin-top: 14%;
    padding: 3%;
    font-size: 16px;
    border: 2px solid black;
    background-color: rgba(154, 110, 246, 0.35);
    text-align: center;
}
.buttoncreatetour {
    text-decoration: none;
    text-decoration-color: none;
    margin: auto;
    width: 40%;
    height: 20%;
    color: black;
    font-size: 25px;
    margin-top: 5%;
    border-radius: 30px;
    background-color: rgba(154, 110, 246, 0.35);
    border: 2px solid black;
    text-align: center;
}
header .container-fluid {
    
}

.ReqCont {
    border-radius: 20px;
    border: 1px solid rgba(154, 110, 246);
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 2%;
    /*background-color: rgba(154, 110, 246, 0.14);*/
}

.customernamerequest {
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid #8643D6;
    padding-top: 10px;
}

.customernumberrequest {
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    border:1px solid #8643D6;
    padding-top: 10px;
}


.whatisunder{
    text-align:center;
    font-size:20px;
}
.requestbutton {
    border: 1px solid #8643D6;
    border-radius: 10px;
}
.requestaccordeon {
    margin-top: 2%;
}
.reviewTitle {
    text-align: center;
    font-size: 24px;
    border-top: 1px solid #8643D6;
    border-bottom: 1px solid #8643D6;
    margin-top: 5%;
}
.reviewTitle p {
    margin: 0;
}
.rejected {
    margin: auto;
    margin-top: 3%;
    padding: 1%;
    border: 1px solid red;
    color: red;
    text-align: center;
    border-radius: 10px;
}
.rejected p {
    margin: 0;
    margin-top: 5%;
    margin-bottom: 5%;
}
.accepted {
    margin: auto;
    margin-top: 3%;
    padding: 1%;
    border: 1px solid green;
    color: green;
    text-align: center;
    border-radius: 10px;
}

.accepted p {
    margin: 0;
    margin-top: 5%;
    margin-bottom: 5%;
}
.notreviewed {
    margin: auto;
    margin-top: 3%;
    padding: 1%;
    border: 1px solid grey;
    color: grey;
    text-align: center;
    border-radius: 10px;
}

.notreviewed p {
    margin: 0;
    margin-top: 5%;
    margin-bottom: 5%;
}
.acceptbutton {
    width: 50%;
    margin: auto;
    margin-top: 3%;
    padding: 1%;
    border: 1px solid green;
    color: green;
    text-align: center;
    border-radius: 10px;
}
.acceptbutton a {
    color: green;
    margin: 0;
    margin-top: 5%;
    margin-bottom: 5%;
}
.rejectbutton {
    width: 50%;
    margin: auto;
    margin-top: 3%;
    padding: 1%;
    border: 1px solid red;
    color: red;
    text-align: center;
    border-radius: 10px;
}
.rejectbutton a {
    color: red;
    margin: 0;
    margin-top: 5%;
    margin-bottom: 5%;
}

.statusofrequest {
    width: 70%;
}
.titletable {
    margin-top: 2%;
}
.titletable p {
    margin: auto;
}
.titletabletour {
    margin: auto;
    width: 10%;
}
.titletabletour p {
    font-weight: bold;
}
.titletablestatus p {
    font-weight: bold;
}
.titletablestatus {
    width: 70%;
    margin: auto;
}
.tourlink {
    margin: auto;
    width: 75%;
    margin-top: 3%;
    padding: 1%;
    border: 1px solid purple;
    color: red;
    text-align: center;
    border-radius: 10px;
}
.tourlink a {
    color: purple
}
.titletablecreatingtime p {
    font-weight: bold;
}

.createtimeofrequest p {
    margin-top: 5%;
}
.Documents {
    margin-top: 5%;
}
.myrequests {
    margin-top: 10%;
    margin-bottom: 5%;
}
.customerwishes {
    word-break: break-all;
}