.tour {
    margin: auto;
    background-color: #ffffff;
    font-family: K2D;
    border-radius: 20px;
    width: 65%;
    min-height: 50%;
    margin-bottom: 1%;
    border: 1.5px solid #E2D3FF;
}
.accordion{
    border: 1.5px solid #E2D3FF;
}
.SearchImage {
    height: 150px;
    margin-top: 5%;
    margin-left: 7%;
    margin-bottom: 5%;
}

.SearchImage img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.NameTour {
    text-align: start;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 2%;
}
.DescriptionTour {
    text-align: start;
    word-break: break-all;
    padding-right: 10%;
}
.PriceTour {
    width:10%;
    margin: auto;
    margin-right: 0;
    background-color: #baf783;
    border-radius: 30px;
    font-size: 18px;
}

a.text:active, /* активная/посещенная ссылка */
a.text:hover, /* при наведении */
a.text {
    text-decoration: none;
    color: black;
}

.searchh {
    text-align: center;
    padding-top: 2%;
}

.searchh form {
    margin-top: 50%;
}

.btnsearchh button {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0.5% 1.5%;
    background-color: rgba(154, 110, 246, 0.35);
    border: 1px solid #8643D6;
    border-radius: 5px;
    font-size: 24px;
}

.feeding {
    margin-top: 3%;
}
.leftinputs input {
    margin-bottom: 20%;
}
.leftinputs p {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    margin-bottom: 5%;
}
/*.city {
    width: 50%;
    margin: auto;
    margin-left: 80%;
}
.dateend {
    text-align: start;
    width: 50%;
    margin-right: 100%;
}*/

.datestart input{
    width: 100%;
}
.dateend input {
    width: 100%;
}
.city p {
    font-weight: bold;
    margin-bottom: 2%;
}
.datestart p{
    font-weight: bold;
    margin-bottom: 3%;
}
.dateend p {
    font-weight: bold;
    margin-bottom: 3%;
}

.PriceTour {
    background-color: white;
    margin-right: 2%;
}
.PriceTour p {
    font-weight: bold;
    color: green;
}
.accordion {
    width: 50%;
}
.setprice input {
    width: 100%;
}
.duration input,  .starsofhotel input {
    width: 80%;
    margin: auto;
}
.wifi input{
    margin: 0;
}
.searchresults {
    width: 75%;
}