body {
    /*background-color: rgba(154,110,246,10%);*/
    font-family: 'K2D', sans-serif;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.grid {
    display: block;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
}

    .grid img {
        cursor: pointer;
        margin-bottom: 5%;
    }

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}



#lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
}

.newcomment {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}
.newcomment input {
    width: 30%;
    margin-bottom: 1%;
}
.newcomment textarea {
    margin-bottom: 1%;
}
.newcomment {
    text-align: center;
}
.comment {
    width: 100%;
    background-color: white;
    border-radius: 25px;
    border: 1px solid purple;
}


.comment div {
    margin-left: 1%;
}
.nameofcomment {
    font-weight: bold;
}
.nameofcomment p {
    margin: 0;
}
.dateofcomment p{
    text-align: end;
}
.dateofcomment p {
    margin: 0;
}
.textofcomment p {
    padding-bottom: 3%;
}
a.text:active, /* активная/посещенная ссылка */
a.text:hover, /* при наведении */
a.text {
    text-decoration: none;
    color: black;
}

.textofcomment {
    border-top: 1px solid purple;
}
.textofcomment p{
    margin-left: 4%;
}
.comment {
    margin-bottom: 2%;
    word-break: break-all;
}

.entiretour {
    width: 50%;
    margin: auto;
    margin-top: 2%;
}
.tourtitle, .hoteltitle, .excursiontitle, .commenttitle {
    text-align: center;
}
.tourtitle p, .hoteltitle p, .excursiontitle p, .commenttitle p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}
.tourplace p {
    font-weight: bold;
    margin-bottom: 0;
}
.tourdescription {
    word-break: break-all;
}
.tourdescription p {
    margin-bottom: 1%;
    color: #9E9B9B;
}
.touractiveperiod p {
    margin-bottom: 0;
}
.hotelstars p{
    text-align: center;
}

.hotel img {
    width:32%;
    height: 20%;
}
.grid {
    margin: 0;
}
.hotelimages {
    width: 100%;
    margin: auto;
    margin-bottom: 0;
}
.hotelimages img {
    margin-bottom: 0;
}
.hoteladdress {
    font-weight: bold;
}
.hoteladdress p {
    margin-bottom: 0;
}
.hoteldescription {
    color: grey;
    word-break: break-all;
}
.hoteldescription p {
    margin-bottom: 0;
}
.hoteladdings p {
    margin-bottom: 0;
    font-weight: bold;
}

.excursionimage img{
    width: 100%;
}
.excursiondescription p {
    margin-bottom: 0;
    color: grey;
}
.excursionduration p {
    margin-bottom: 0;
}
.excursionplace p{
    margin-bottom: 0;
}
.excursionamountoftourists p {
    margin-bottom: 0;
}
.Price {
    width: 40%;
    margin: auto;
    border: 1px solid green;
    text-align: center;
    border-radius: 10px;
}
.Price p {
    font-size: 20px;
    margin-bottom: 0;
}

.sendrequest {
    width: 50%;
    margin: auto;
    border: 1px solid purple;
    text-align: center;
    border-radius: 10px;
}
.sendrequest a {
    font-size: 20px;
}
.priceandsendrequest {
    margin-top: 5%;
}
.commenttitle {
    margin-top: 10%;
}
.commentsspace {
    width: 40%;
    margin: auto;
}
.hotel, .excursion {
    border-top: 1px solid purple;
    margin-top: 5%;
}

.hoteltitle, .excursiontitle {
    margin-top: 3%;
}
.excursion img {
    margin-bottom: 15%;
}
.excursion{
    border-bottom: 1px solid purple;
}
.excursion {
    border-top: 1px solid purple;
}
